.categorySelector {
  margin-left: 5%;
  margin-top: 25px;
  margin-bottom: 10px;
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  background-image: linear-gradient(90deg, var(--off-black), #233544);
  padding-right: 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.CommandCategoryBtn {
  border: none;
  margin: 5px;
  height: 35px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(90deg, var(--orange), rgb(212, 55, 134));
  cursor: pointer;
  font-family: "JetBrainsMono";
  width: fit-content;
  min-width: 145px;
}
